.even,.odd{
    position: relative;
}

.even:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: red;
    bottom: -10px;
}


.odd:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
   background-color: green;
}
